html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    color: white;
    font-family: "Montserrat";
    user-select: none;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: transparent;
    z-index: 3;
}

header img {
    height: 100px;
    margin-top: 10px;
}

header h1 {
    font-size: 20px;
    font-weight: 700;
    background-color: #ed7404;
    padding: 5px 10px;
    border: 4px solid white;
    border-radius: 12px;
}

nav {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 100%;
    left: 0px;
    background: radial-gradient(circle at 0 100%, #181818 0%, #0e0e0e 100%);
    border-right: 1px solid #222222;
    box-shadow: #ffffff10 0px 0px 5px 0px;
    z-index: 2;
}

hr {
    width: 90%;
    opacity: 0.1;
}

main {
    position: absolute;
    width: calc(100% - 300px);
    height: 100%;
    left: 300px;

    --gridsize: 40px;
    --plus-thickness: 2px;
    --plus-length: 1px;

    background-color: rgb(12, 12, 12);
    background-image: radial-gradient(
            #ffffff10 var(--plus-thickness),
            transparent var(--plus-thickness)
        ),
        linear-gradient(
            to right,
            transparent calc(50% - var(--plus-length)),
            #ffffff05 calc(50% - var(--plus-length))
                calc(50% + var(--plus-length)),
            transparent calc(50% + var(--plus-length))
        ),
        linear-gradient(
            to bottom,
            transparent calc(50% - var(--plus-length)),
            #ffffff05 calc(50% - var(--plus-length))
                calc(50% + var(--plus-length)),
            transparent calc(50% + var(--plus-length))
        );
    background-size: var(--gridsize) var(--gridsize);
}

#overlay {
    position: absolute;
    width: auto;
    padding: 0 5px;
    height: 50px;
    background-color: #0e0e0e;
    border: 1px solid #222222;
    border-radius: 12px;
    box-shadow: #ffffff10 0px 2px 5px 0px;
    bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

#overlay > i {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff00;
    transition: 250ms;
}

#overlay > i:hover {
    background-color: #ffffff05;
    border-radius: 8px;
}

#overlay > i.disabled {
    opacity: 0.25;
}

#play {
    color: #00ee8b;
}
#stop {
    color: #ff6a6a;
}
#pause {
    color: #ffd95e;
}
#next {
    color: #3385ff;
}