html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    color: white;
    font-family: "Montserrat";
    user-select: none;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: transparent;
    z-index: 3;
}

header img {
    height: 100px;
    margin-top: 10px;
}

header h1 {
    font-size: 20px;
    font-weight: 700;
    background-color: #ed7404;
    padding: 5px 10px;
    border: 4px solid white;
    border-radius: 12px;
}

nav {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 100%;
    left: 0px;
    background: radial-gradient(circle at 0 100%, #181818 0%, #0e0e0e 100%);
    border-right: 1px solid #222222;
    box-shadow: #ffffff10 0px 0px 5px 0px;
    z-index: 2;
}

hr {
    width: 90%;
    opacity: 0.1;
}

#wireDisplay {
    position: absolute;
    width: calc(100% - 300px);
    height: 100%;
    left: 300px;
    z-index: 4;
    pointer-events: none;
}

main {
    position: absolute;
    width: calc(100% - 300px);
    height: 100%;
    left: 300px;

    --gridsize: 40px;
    --plus-thickness: 2px;
    --plus-length: 1px;

    background-color: rgb(12, 12, 12);
    background-image: radial-gradient(
            #ffffff10 var(--plus-thickness),
            transparent var(--plus-thickness)
        ),
        linear-gradient(
            to right,
            transparent calc(50% - var(--plus-length)),
            #ffffff05 calc(50% - var(--plus-length))
                calc(50% + var(--plus-length)),
            transparent calc(50% + var(--plus-length))
        ),
        linear-gradient(
            to bottom,
            transparent calc(50% - var(--plus-length)),
            #ffffff05 calc(50% - var(--plus-length))
                calc(50% + var(--plus-length)),
            transparent calc(50% + var(--plus-length))
        );
    background-size: var(--gridsize) var(--gridsize);
}

#overlay {
    position: absolute;
    width: auto;
    height: 50px;
    background-color: #0e0e0e;
    border: 1px solid #222222;
    border-radius: 12px;
    box-shadow: #ffffff10 0px 2px 5px 0px;
    bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

#overlay > i {
    width: 40px;
    height: 40px;
    background-color: #ffffff00;
    border-radius: 8px;
    margin: 5px;
    transition: 150ms;
}

i.fi {
    display: flex;
    align-items: center;
    justify-content: center;
}

#overlay > i:not(.disabled):hover {
    background-color: #ffffff05;
    cursor: pointer;
}

#overlay > i:not(.disabled):active {
    scale: 0.9;
}

#overlay i.toggled {
    background-color: #ffffff10 !important;
}

#overlay > i.disabled {
    opacity: 0.25;
}

#overlay > hr {
    width: 0;
    height: 60%;
}

#play {
    color: #00ee8b;
}
#stop {
    color: #ff6a6a;
}
#pause {
    color: #ffd95e;
}
#next {
    color: #3385ff;
}
#ticks {
    position: absolute;
    top: -32px;
    font-size: 10px;
    opacity: 0.5;
}

nav > div {
    position: relative;
    width: calc(100% - 30px);
    padding: 15px;
}

nav h5 {
    margin: 0 0 5px;
}

nav section {
    border-top: 1px solid #222222;
    width: calc(100% - 30px);
    padding: 15px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

nav .component {
    position: relative;
    margin: 5px 5px 15px;
    cursor: pointer;
}

body > .component {
    transform: translate(-50%, -50%);
}

nav .component h6 {
    position: absolute;
    top: 20px;
}

.component {
    position: absolute;
    min-width: 38px;
    min-height: 38px;
    max-width: 38px;
    max-height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffffff;
}

.on {
    background-color: #3385ff;
}

.component > div:not(.wireNode) {
    width: 75%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.component img {
    contain: content;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.wireNode {
    visibility: hidden;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #00ffaa;
    cursor: pointer;
    transition: 100ms;
}
.wireNode.visible {
   visibility: visible;
}
.wireNode:hover {
    scale: 1.1;
}
.wireNode:active {
    scale: 0.9;
}
.wireNode.selected {
    border: 6px solid #3c9e86;
}